<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Proposta</title>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>
<body>
<form action="/tcc/cadastro/proposta/" method="post">
    {% csrf_token %}
    {{ form.non_field_errors }}
    <div class="mb-3">
        {{ form.subject.errors }}
        <label for="{{ form.cliente.id_for_label }}" class="form-label">Cliente:</label>
        {{ form.cliente }}
    </div>
    <div class="mb-3">
        {{ form.programa.errors }}
        <label for="{{ form.programa.id_for_label }}" class="form-label">Programa:</label>
        {{ form.programa }}
    </div>
    <div class="mb-3">
        {{ form.contrato.errors }}
        <label for="{{ form.contrato.id_for_label }}" class="form-label">Contrato:</label>
        {{ form.contrato }}
    </div>
    <div class="mb-3">
        {{ form.data_criacao.errors }}
        <label for="{{ form.data_criacao.id_for_label }}" class="form-label">Data de Criação:</label>
        {{ form.data_criacao }}
    </div>
    <input type="submit" value="Confirmar">
</form>
</body>
</html>
